{% extends "base.html" %}


{% block body %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="/static/about/about.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

<br>

<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
        <img src="/static/about/logo.jpeg" alt="logo">
         </div>
    <div class="col-md-6"><h1>About Us</h1>
<p ><br>Water Garden is an Ornamental Fish Farm - successful small scale aqua business in Bangladesh. Here we have all types of ornamental fishes and aquarium accessories. 
We can provide our customer our ornamental fishes and aqua products on home within a limited period of time. 
We want to provide products to our valuable customer in a reasonable price.    

</p>

<br>


<br>

<br>


<div class="col-my-3"> <h1>Our Farm</h1>
<p ><br>Water Garden is an Ornamental Fish Farm - successful small scale aqua business in Bangladesh. Here we have all types of ornamental fishes and aquarium accessories. 
We can provide our customer our ornamental fishes and aqua products on home within a limited period of time. 
We want to give our valuable customer products in a reasonable price.    

</p>
</div>

</div>
</div>
</div>
</div>


  
  {% endblock body %}
  