{% extends "base.html" %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/static/fish/contacts.jpg" class="n-block w-100" alt="...">
        </div>
      </div>
    </div>
    <br>

         <div class="container my-2 ">
          <h1 class="my-3 text-center"> Contact Us</h1>
          <div class="aboutus-secktion paddingTB60">
            <div class="container">
                <div class="row">
                <div class="col-md-6">
      <h1 class="col-md-8"> Our Office</h1>
  <p ><br>Water Garden is an Ornamental Fish Farm - successful small scale aqua business in Bangladesh. Here we have all types of ornamental fishes and aquarium accessories. 
  We can provide our customer our ornamental fishes and aqua products on home within a limited period of time. 
  We want to provide products to our valuable customer in a reasonable price.    
  
  </p>



</div>
  {% endblock body %}
  